
version: '3.8'

services:
  blog-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: binbin-blog
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - blog-network

networks:
  blog-network:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
