
version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - BACKEND_URL=http://backend:8088
    restart: always

  backend:
    image: node:18-alpine
    command: sh -c "npx prisma db push && node server.js"
    ports:
      - "8088:8088"
    environment:
      - PORT=8088
      - DATABASE_URL="file:./prisma/dev.db"
    volumes:
      - ./prisma:/app/prisma
    restart: always
