name: Deploy Blog

on:
  push:
    branches:
      - main
      - master  # 同时兼容 main 和 master 分支

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 确保进入正确的目录
            set -e
            cd /opt/zuobin-blog/binsSpace || exit 1
            # 执行指定deploy文件，里面写了对git的操作等
            ./deploy.sh main
